* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topNav {
    display: flex;
    min-height: 10vh;
    background-color: #1D5A78;
    color: #fff;
    width: 100%;
    height: 10%;
    align-items: center;
    position: fixed;
    top: 0;
}

#userProfileContainer {
    display: flex;
    align-items: center;
    margin-left: 20px; 
}

.profile {
    padding: 1.5vh;
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}

#header {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


#header_1 {
    display: grid;
    padding-top: 5vh;
    place-items: left;
    color: #062a3c;
    font-size: 30px;
}

th {
    height: 5vh;
    text-align: left;
    font-size: 25px;
    vertical-align: top;
}

td {
    padding-top: 1vh;
    text-align: left;
    vertical-align: top;
    font-size: 15px;
}

#table {
    width: 100%;
    table-layout: fixed;
    border-color: #062a3c;
    color: #062a3c;
    border-collapse: collapse;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-list li {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    font-size: 22px;
    color: #062a3c;
}

.skill {
    flex: 1;
}

.project-list {
    list-style: none;
}

.progress-container {
    width: 15vw;
    margin-left: 1vw;
}

.progress-bar {
    height: 2vh;
    background-color: #ccc;
    border-radius: 2vh;
    position: relative;
}

.progress {
    height: 100%;
    border-radius: 2vh;
    background-color: #2d758c;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0.5vh;
}

.project-name {
    font-size: 20px;
    color: #062a3c;
    margin-bottom: 1vh;
}

.language-buttons {
    display: flex;
    gap: 1vw;
}

.language-button {
    background-color: #2d758c;
    font-size: 20px;
    color: white;
    padding: 1vh 2vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


#dropdown-menu {
    cursor: pointer;
    display: inline-block;
    line-height: 5vh;
    width: 100%;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: relative;
    }


#dropdown-menu a {
    color: #fff;
    text-decoration: none;
}

.dropdown-content {
    cursor: pointer;
    display: none;
    background: #062a3c;
    position: absolute;
    min-width: 16vw;
    border-radius: 3vh;
    z-index: 2;
    left: 0;
    font-weight: normal;
    font-size: medium;
    text-decoration: none;
    padding-top: 3px;
    height: 105px;
}

#dropdown-menu li {
    text-align: left;
    padding-left: 3vh;
    list-style-type: none;
    color: white;
    font-size: 20px;
    padding-top: 3px;
}

#dropdown-menu ul {
    margin: 0;
    padding: 0;
}

#dropdown-menu:hover .dropdown-content {
    display: block;
}

#dropdown-menu li:hover {
    background: #26416a;
    border-radius: 3vh;
}

.gallery {
    position: relative;
    display: inline-block;
    padding: 1.5vh;
    width: 100%;
}



.gallery img {
    max-width: 100%;
    height: auto;
}

.image-container {
    display: inline;
}

.my-image {
    height: 20vh;
    width: 60vh;
    align-items: center;
    padding: 2vh;
    transition: transform 0.3s ease;
    border-radius: 5vh;
}

.my-image:hover {
    transform: scale(1.2);
    transform-origin: center center;
}

.my-big-image {
    z-index: 5;
    width: 70%;
    position: absolute;
    left: 15%;
    top: 0%;
    display: none;
    border-radius: 5vh;
}

.my-image:focus + #my-big-image1,
.my-image:focus + #my-big-image2,
.my-image:focus + #my-big-image3 {
    display: block;
}

p {
    font-family: monospace;
    font-size: 15px;
}

.contact {
    padding-left: 5vw;
}

.div1 {
    padding: 0.5vh;
    display: inline-block;
    width: 30%;
    border: 0;
}

.content-div {
    margin: 0.5vh;
    color: #062a3c;
    font-size: 20px;
    padding: 1.5vh;
    text-align: center;
}

.div-fifty-l {
    padding: 0.5vh;
    float: left;
    width: 50%;
    border: 0;
}

.div-fifty-r {
    padding: 0.5vh;
    float: right;
    width: 50%;
    border: 0;
}

.link-div {
    margin: 0.5vh;
    color: #062a3c;
    padding: 1.5vh;
    text-align: center;
    font-size: 25px;
}

#loginBtn:hover {
    opacity: 0.8;
}


.inn {
    text-align: center;
    position: relative;
    border-width: 1vh;
    width: 30%;
    margin: auto;
    margin-top: 2vh;
    padding: 4vh;
    background-color: hsl(200, 61%, 29%, 0.4);
    border: 2px solid #062a3c;
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgba(0, 0, 0, 0.9);
}

.container {
    position: relative;
    opacity: 0.9;
}

span.psw {
    float: center;
    padding-top: 1.6vh;
}

#clearBtn,
#loginBtn,
#signupBtn {
    background-color: #2d758c;
    color: white;
    margin: 0.8vh 0;
    border: 2px solid #062a3c;
    cursor: pointer;
    border-radius: 5vh;
    width: 40%;
    height: 4vh;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}

#user,
#password,
#fullname,
#birthday {
    font-size: 20px;
    color: #062a3c;
    border-radius: solid 5vh;
}

#userDiv {
    position: absolute;
    right: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #f4f0f0;
    font-size: 15px;
    width: 20%;
}

#logOut {
    text-decoration: none;
    color: rgb(226, 169, 178);
    text-align: right;
    font-size: 15px;
}


input[type=radio] {
    accent-color: #062a3c;
}
